.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a:hover,
a:active {
    outline: 0;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    max-width: 100%;
    width: auto \9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

#map_canvas img,
.google-maps img {
    max-width: none;
}

button,
input,
select,
textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}

button,
input {
    *overflow: visible;
    line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
    cursor: pointer;
}

input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

@media print {
    * {
        text-shadow: none !important;
        color: #000 !important;
        background: transparent !important;
        box-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;
}
a {
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

.img-rounded {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.img-polaroid {
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.img-circle {
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

p {
    margin: 0 0 5px;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    line-height: 1.3;
    margin: 0;
}

button:focus {
    outline: 0;
}

.uppercase,
.go-to-top {
    text-transform: uppercase;
}

.hide {
    display: none;
}

.btn-link {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.inline-block {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #0c75d7;
}

a:hover {
    text-decoration: underline;
}

body {
    font: 14px/1.3 'Ubuntu', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    min-width: 980px;
}

button,
input,
select,
textarea {
    font-family: 'Ubuntu', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    color: #222222;
}

.wrapper,
.bx-pager {
    min-width: 930px;
    max-width: 1280px;
    padding: 0 26px;
    margin: 0 auto;
    position: relative;
}

.header-line {
    background: #57a9d7;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 555;
}
.footer-middle__heading a{
    color:#fff;
}
.footer-middle__heading a:hover{
    text-decoration: none;
    color:#000;
}
.header-line__phones {
    float: left;
}

.header-line__phone-item {
    min-height: 66px;
    padding-top: 16px;
    color: #fff;
    text-transform: uppercase;
    float: left;
}

.header-line__phone-item + .header-line__phone-item {
    margin-left: 33px;
}

.header-line__phone-label {
    font-size: 12px;
    margin-bottom: 2px;
    letter-spacing: 0.3px;
}

.header-line__phone-number {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #fff;
}

.header-line__phone-number:hover {
    text-decoration: none;
}

.header-line__right-block {
    float: right;
    margin-right: -25px;
}

.header-line__right-link {
    transition: .2s;
    line-height: 66px;
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.5px;
    padding: 0 22px 0 13px;
    float: left;
    text-transform: uppercase;
}

.header-line__right-link:hover {
    text-decoration: none;
}

.header-line__right-link_blue1 {
    background: #4b9ecc;
}

.header-line__right-link_blue1:hover {
    background: #3c80a4;
}

.header-line__right-link_blue2 {
    background: #438eb7;
}

.header-line__right-link_blue2:hover {
    background: #3c80a4;
}

.header-main {
    background: #fff;
    min-height: 220px;
    margin-top: 66px;
}

.header-main__wrapper {
    padding-top: 51px;
    padding-bottom: 30px;
    background: url("../img/header-bg.png") no-repeat 50% 0;
}

.header-logo {
    background: url("../img/main-logo.png") no-repeat 50% 0;
    height: 71px;
    width: 332px;
    display: block;
    margin: 0 auto 20px;
}

.main-nav {
    text-align: center;
    margin-top: 48px;
    padding-left: 7px;
}

.main-nav__list {
    display: inline-block;
    vertical-align: middle;
}

.main-nav__list-item {
    display: inline-block;
    vertical-align: middle;
}

.main-nav__list-item + .main-nav__list-item {
    padding-left: 22px;
    margin-left: 22px;
    border-left: 2px solid #e7e7e7;
}

.main-nav__list-link {
    transition: .2s;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    color: #222222;
}

.main-nav__list-link:hover {
    color: #0e81c2;
    text-decoration: none;
}

.main-slider-wrapper {
    position: relative;
}

.main-slider__item {
    min-height: 587px;
    position: relative;
}

.main-slider__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px 0 50px;
    min-height: 156px;
    background: rgba(0, 0, 0, 0.5);
}

.bx-pager {
    z-index: 60;
    padding: 0 66px;
}

.bx-pager-item {
    display: inline-block;
    vertical-align: middle;
}

.bx-pager-item + .bx-pager-item {
    margin-left: 12px;
}

.bx-pager-link {
    transition: .2s;
    height: 9px;
    width: 9px;
    background: #fff;
    border-radius: 50%;
    text-indent: 100%;
    overflow: hidden;
    display: block;
}

.bx-pager-link:hover {
    background: #31759b;
}

.bx-pager-link.active {
    background: #57a9d7;
}

.main-slider__slider-description {
    color: #fff;
    padding: 0 35px;
    font-size: 16px;
    line-height: 1.4;
}

.bx-controls {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
}

.main-category {
    background: #57a9d7;
    background: -moz-linear-gradient(left, #57a9d7 0%, #57a9d7 50%, #4b9ecc 50%, #4b9ecc 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #57a9d7), color-stop(50%, #57a9d7), color-stop(50%, #4b9ecc), color-stop(100%, #4b9ecc));
    background: -webkit-linear-gradient(left, #57a9d7 0%, #57a9d7 50%, #4b9ecc 50%, #4b9ecc 100%);
    background: -o-linear-gradient(left, #57a9d7 0%, #57a9d7 50%, #4b9ecc 50%, #4b9ecc 100%);
    background: -ms-linear-gradient(left, #57a9d7 0%, #57a9d7 50%, #4b9ecc 50%, #4b9ecc 100%);
    background: linear-gradient(to right, #57a9d7 0%, #57a9d7 50%, #4b9ecc 50%, #4b9ecc 100%);
}

.main-category__item {
    float: left;
    width: 50%;
    display: block;
    padding: 73px 0 55px;
}

.main-category__item:hover {
    text-decoration: none;
}

.main-category__item:hover .main-category__image {
    opacity: 0;
}

.main-category__item:hover .main-category__image-hover {
    opacity: 1;
}
.main-category .main-category__item:nth-child(1) .main-category__image-wrapper{
    position: relative;
    left: -15px;
}
.main-category .main-category__item:nth-child(1) .main-category__heading{
    position: relative;
    left: -13px;
}
.main-category .main-category__item:nth-child(2) .main-category__heading{
    position: relative;
    right: -13px;
}
.main-category .main-category__item:nth-child(2) .main-category__image-wrapper{
    position: relative;
    right: -15px;
}
.main-category__image-wrapper {
    position: relative;
    width: 61%;
    margin: 0 auto 20px;
}

.main-category__image,
.main-category__image-hover {
    transition: .5s;
}

.main-category__image-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.main-category__heading {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin-top: 20px;
}

.main-news {
    font-size: 0;
    display: flex;
}

.main-news__item {
    width: 33.33%;
    float:left;
}

.main-news__item:nth-child(n+4) {
    display: none;
}
@media (min-width: 1440px){
    .main-new .main-news__item{
        width:20%!important;
        display:block!important;
    }
}
@media (min-width: 1280px) and (max-width: 1440px) {
    .main-news__item:nth-child(n+7) {
        display: none;
    }
	.main-new .main-news__item{
		width:25%!important;
		display:block!important;
	}
	
}
@media (max-width: 1100px) {
    html, body{
        min-width: 970px;
    }
    .header-line{
        min-width: 970px;
    }
    .header-line__phone-item + .header-line__phone-item {
        margin-left: 33px!important;
    }
	.main-new .main-news__item{
		width:33%!important;
		display:block!important;
	}
}
.main-news__link {
    height: 373px;
    display: block;
    position: relative;
}

.main-news__link:hover .main-news__overlay {
    background: #31759b;
}

.main-news__overlay {
    transition: .2s;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 13px 22px 10px;
    line-height: 21px;
    min-height: 97px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.5);
}

.additional-text {
    background: #fff;
}

.additional-text__button {
    transition: .2s;
    padding-top: 4px;
    line-height: 58px;
    padding-right: 20px;
    letter-spacing: 0.3px;
    position: relative;
    text-transform: uppercase;
    color: #000;
    padding-left: 27px;
    opacity: .6;
}

.additional-text__button:hover {
    color: #000;
    opacity: 1;
}

.additional-text__button:before {
    content: '';
    position: absolute;
    top: 50%;
    background: url("../img/arrow-down-gray.png") no-repeat;
    width: 21px;
    height: 13px;
    margin-top: -6px;
    left: -3px;
}

.additional-text__button.active:before {
    background: url("../img/arrow-up-gray.png") no-repeat;
}

.additional-text__container {
    padding: 10px 30px 50px;
    display: none;
}

.additional-text__container p + p {
    margin-top: 30px;
}

.footer-top {
    transition: .2s;
    background: #4b9ecc;
    color: #fff;
}

.footer-top:hover {
    background: #31759b;
}

.go-to-top {
    width: 100%;
    line-height: 57px;
    padding-top: 4px;
    color: #fff;
    font-weight: 500;
    text-align: center;
}

.go-to-top__inner {
    position: relative;
    margin-left: 36px;
}

.go-to-top__inner:before {
    content: '';
    position: absolute;
    top: 50%;
    background: url("../img/arrow-top-white.png") no-repeat;
    width: 21px;
    height: 13px;
    margin-top: -8px;
    left: -31px;
}

.footer-middle {
    background: #57a9d7;
    color: #fff;
    padding: 36px 0;
}

.footer-middle__wrapper {
    text-transform: uppercase;
}

.footer-middle__col {
    float: left;
}

.footer-middle__col_col1 {
    width: 25.5%;
    padding-left: 6.02%;
    padding-right: 10px;
}

.footer-middle__col_col2 {
    width: 27.42%;
    padding-right: 10px;
}

.footer-middle__col_col3 {
    padding-top: 40px;
    width: 26.88%;
    padding-right: 10px;
}

.footer-middle__col_col4 {
    width: 19.35%;
    position: relative;
    left: 26px;
}

.footer-middle__heading {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 19px;
}

.footer-middle__list-item + .footer-middle__list-item {
    margin-top: 6px;
}

.footer-middle__subhead {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px;
}

.footer-middle__list-link {
    color: #fff;
    transition: .2s;
    opacity: .6;
    font-size: 13px;
    letter-spacing: 0.3px;
}

.footer-middle__list-link-bold {
    font-weight: bold;
    font-style: normal;
    opacity: 1;
    display: block;
    margin-bottom: 14px;
}

.footer-middle__list-link:hover {
    opacity: 1;
    color: #000;
    text-decoration: none;
}

.footer-bottom {
    padding: 30px 0;
}

.footer-bottom__copy {
    float: left;
    color: #7d6e6e;
    font-size: 13px;
    margin-left: -4px;
}

.footer-bottom__made-in {
    color: #7f7f7f;
    float: right;
    text-transform: uppercase;
    font-size: 13px;
}

.made-in {
    margin-left: 7px;
    display: block;
    width: 15px;
    float: left;
    height: 15px;
    background: url(../img/made-by-logo.png) no-repeat;
}

.made-in:hover {
    background-position: 0 -16px;
}

.made-in-span {
    display: block;
    float: left;
}
@media screen and (min-width: 990px) and (max-width: 1360px){
    .header-line__phone-item + .header-line__phone-item {
        margin-left: 50px;
    }
    .main-category__item {
        padding: 77px 0 63px;
    }
    .main-news__link {
        height: 485px;
        display: block;
        position: relative;
    }
    .header-line__right-link {
        transition: .2s;
        line-height: 66px;
        color: #fff;
        font-size: 12px;
        letter-spacing: 0.9px;
        padding: 1px 21px 0 13px;
        float: left;
        text-transform: uppercase;
    }
    .main-slider__slider-description {
        color: #fff;
        padding: 0 38px;
        font-size: 16px;
        letter-spacing: 0.2px;
        line-height: 1.4;
    }
    .main-news__overlay {
        padding: 28px 24px 14px;
        min-height: 126px;
        margin-right: 0%;
        letter-spacing: 0.5px;
        padding-right: 24%;
    }
    .footer-middle__col_col1 {
        width: 31.5%;
        padding-left: 16.7%;
        padding-right: 10px;
    }
    .footer-middle__col_col2 {
        width: 20.7%;
        padding-right: 10px;
    }
    .footer-middle__col_col3 {
        padding-top: 40px;
        width: 21%;
        padding-right: 10px;
    }
}
@media screen and (min-width: 1600px) and (max-width: 3000px){
    .main-news__item:nth-child(n+4){
        display: block;
    }
    .main-news__item:nth-child(n+5){
        display: block;
    }
    .main-news__item:nth-child(n+6){
        display: block;
    }
    .bx-wrapper .bx-viewport{
        height: 841px;
    }
    .main-slider__item{
        height:841px;
    }
}

.fixed-left-menu { 
	height: 100%;
	width: 260px;
    background: url(../img/icon-menu.png) no-repeat 213px center #054d77;
    background-image: none;
	position: fixed;
	left: 0; top: 0;
	z-index: 999;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}
.fixed-left-menu:hover {
	background-color: #31759b;
}
.fixed-left-menu .logo {
	width: 213px;
	height: 45px;
	background: url(../img/menu-logo.png) no-repeat;
	margin: 11px 0 0 24px;
}
.fixed-left-menu nav {
	position: absolute;
	top: 50%;
	left: 25px;
	text-transform: uppercase;
	margin: -111px 0 0;
}
.fixed-left-menu nav>ul>li>a {
	font-size: 16px;
	color: #fff;
	font-weight: 700;
	letter-spacing: 0.03em;
}
.fixed-left-menu nav>ul>li>a:hover{
    text-decoration: none;
}
.fixed-left-menu nav ul ul li a:hover{
    text-decoration: none;
}
.fixed-left-menu nav>ul>li {
	margin: 0 0 16px;
}
.fixed-left-menu nav ul ul {
	margin: 16px 0 0 20px;
}
.fixed-left-menu nav ul ul li {
	margin: 6px 0 0;
}
.fixed-left-menu nav ul ul li:first-child {
	margin: 0;
}
.fixed-left-menu nav ul ul li a {
	font-size: 13px;
	font-weight: 500;
	color: #9acae0;
}
.fixed-left-menu nav ul ul li.active a {
	color: #fff;
}
.fixed-left-menu.close { 
	left: -205px;
	background: url(../img/icon-menu.png) no-repeat 213px center #054d77;
	cursor: pointer;
}
.fixed-left-menu.close .logo {
    position: relative;
    left: -50px;
}
body.fixed-l {
	margin-left: 55px;
}
body.fixed-l .header-line {
	left: 0;
}
body.fixed-l .header-line .wrapper {
	padding-left: 75px;
}
.about-page-top .main-slider__overlay {
	background: rgba(8,41,61,0.8);
}
.about-page-top .main-slider__slider-description {
	font-size: 15px;
	line-height: 24px;
	padding: 0;
}
.title-fix { 
	position: absolute;
	top: 60px;
	padding: 0 26px;
}
.title-fix h1 {
	font-size: 50px;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff;
}
.about-page-top .main-slider__item {
	margin-top: 60px;
	min-height: 465px;
}
.benefit-block {
	height: 232px;
}
.benefit-block ul {
	display: table;
	width: 100%;
	height: 232px;
}
.benefit-block ul li {
	display: table-cell;
	width: 25%;
	height: 232px;
	vertical-align: middle;	
	background-position: center center;
	background-repeat: no-repeat;
	text-align: center;
	font-size: 15px;
	color: #000000;
	font-weight: 500;
	line-height: 22px;	
	-webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-o-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;
}
.benefit-block ul li span {
	padding: 0 20px;
	display: inline-block;
	visibility: hidden;
	opacity: 0;	
	-webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-o-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;
}
.benefit-block ul li.benefit-icon-1 {
	background-image: url(../img/benefit-icon-1.png);
	background-color: #4ea4e4;
}
.benefit-block ul li.benefit-icon-2 {
	background-image: url(../img/benefit-icon-2.png);
	background-color: #ec5a5d;
}
.benefit-block ul li.benefit-icon-3 {
	background-image: url(../img/benefit-icon-3.png);
	background-color: #edcf85;
}
.benefit-block ul li.benefit-icon-4 {
	background-image: url(../img/benefit-icon-4.png);
	background-color: #21c097;
}
.benefit-block ul li:hover {
	background-image: none;
}
.benefit-block ul li:hover span {
	visibility: visible;
	opacity: 1;
}
img.width-all {
	width: 100%;
}
.about-text .wrapper {
	padding-top: 32px;
	padding-bottom: 32px;
}
.about-text .wrapper p {
	margin: 0;
	font-size: 15px;
	color: #000;
	line-height: 24px;
}
.inside-title {
    margin-top: 66px;
    padding-top: 40px;
    padding-bottom: 33px;
}
.inside-title h1 {
	text-transform: uppercase;
	font-size: 50px;
	color: #000;
	font-weight: 500;
	line-height: normal;
}
.certificares-block li {
	display: block;
	float: left;
	width: 33.33333333333333%;
	height: 352px;
	text-align: center;
}
.certificares-block li a {
	display: block;
	height: 352px;
	color: #fff;
	font-size: 15px;
	font-weight: 500;
}
.certificares-block li span.image {
	display: table-cell;
	width: 2000px;
	height: 250px;
	padding-top: 50px;
	vertical-align: middle;
}
.production-map {
	margin: -100px 0 0;
	position: relative;
}
.production-map .marker {
	position: absolute;
}
.production-map .marker a.span {
	line-height: 29px;
	text-align: center;
	font-size: 26px;
	width: 30px;
	height: 30px;
	display: block;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	background: #fefefe;
	background: -moz-linear-gradient(top,  #fefefe 0%, #e7e7e7 50%, #d2d2d2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(50%,#e7e7e7), color-stop(100%,#d2d2d2));
	background: -webkit-linear-gradient(top,  #fefefe 0%,#e7e7e7 50%,#d2d2d2 100%);
	background: -o-linear-gradient(top,  #fefefe 0%,#e7e7e7 50%,#d2d2d2 100%);
	background: -ms-linear-gradient(top,  #fefefe 0%,#e7e7e7 50%,#d2d2d2 100%);
	background: linear-gradient(to bottom,  #fefefe 0%,#e7e7e7 50%,#d2d2d2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#d2d2d2',GradientType=0 );
	box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
.production-map .marker a.span:hover, .production-map .marker a.span.active {
	color: #fff;
	background: #064c76;
	background: -moz-linear-gradient(top,  #064c76 0%, #1b3c50 50%, #2e2d2e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#064c76), color-stop(50%,#1b3c50), color-stop(100%,#2e2d2e));
	background: -webkit-linear-gradient(top,  #064c76 0%,#1b3c50 50%,#2e2d2e 100%);
	background: -o-linear-gradient(top,  #064c76 0%,#1b3c50 50%,#2e2d2e 100%);
	background: -ms-linear-gradient(top,  #064c76 0%,#1b3c50 50%,#2e2d2e 100%);
	background: linear-gradient(to bottom,  #064c76 0%,#1b3c50 50%,#2e2d2e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#064c76', endColorstr='#2e2d2e',GradientType=0 );
	text-decoration: none;
}
.production-map .marker .bubl {
	width: 564px;
	position: absolute;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	background-color: #e9f8ff;
	bottom: 47px;
	left: -45px;
	padding: 0 0 13px;
	display: none;
	z-index: 4;
}
.production-map .marker .bubl.right {
	left: auto;
	right: -45px;
}
.production-map .marker .bubl .close {
	position: absolute;
	font-size: 0;
	display: block;
	width: 17px;
	height: 17px;
	background: url(../img/icon-close.png) no-repeat;
	top: 12px;
	right: 13px;
}
.production-map .marker .bubl img {
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
}
.production-map .marker .bubl h3 {
	padding: 0 20px;
	font-size: 20px;
	color: #000;
	font-weight: 500;
	text-transform: uppercase;
	margin: 16px 0 0;
}
.production-map .marker .bubl p {	
	padding: 0 20px;
	font-size: 13px;
	line-height: 20px;
	color: #000;
	margin: 8px 0 0;
}
.production-map .marker .bubl:after {
	content: '';
	display: block;
	border-top: 14px solid #e9f8ff;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	position: absolute;
	bottom: -14px;
	left: 52px;
}
.production-map .marker .bubl.right:after {
	left: auto;
	right: 52px;
}
.benefit-career {
	height: auto;
}
.benefit-career ul {
	display: block;
	height: auto;
}
.benefit-career ul li {
	display: block;
	float: left;
}
.benefit-block ul li span {
	display: table-cell;
	height: 232px;
	vertical-align: middle;
	width: 1000px;
}
.career-icon-1 { background-image: url(../img/career-icon-1.png); }
.career-icon-2 { background-image: url(../img/career-icon-2.png); }
.career-icon-3 { background-image: url(../img/career-icon-3.png); }
.career-icon-4 { background-image: url(../img/career-icon-4.png); }
.career-icon-5 { background-image: url(../img/career-icon-5.png); }
.career-icon-6 { background-image: url(../img/career-icon-6.png); }
.career-icon-7 { background-image: url(../img/career-icon-7.png); }

.career-list h2 {
	font-size: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	margin: 40px 0 50px;
}
.career-list ul li {
	font-size: 15px;
	color: #000;
	margin: 0 0 45px;
	padding: 0 0 0 35px;
	background: url(../img/list-icon.png) no-repeat 1px 10px;
}
.career-list ul li h3 {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 500;
}

.btn-type-1 {
	text-align: center;
	text-decoration: none!important;
	border: 0;
	height: 124px;
	line-height: 124px;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	color: #39362e;
	background-color: #edcf85;
	display: inline-block;
}
.btn-type-1:hover {
	background-color: #f3c044;
}
.btn-type-2 {
	text-align: center;
	text-decoration: none!important;
	border: 0;
	height: 124px;
	line-height: 124px;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
	background-color: #4b9ecc;
	display: inline-block;
}
.send-btn a, .send-btn span {
	float: left;
	display: block;
	width: 50%;
}
.send-btn span.btn-type-2 {
	line-height: normal;
	padding-top: 37px;
}
.send-btn span.btn-type-2 b {
	font-size: 22px;
}

.popup-inner { 
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 99999999; 
	display: none;
}
.popup-form {
	position: absolute;
	width: 474px;
	left: 50%;
	top: 50%;
	margin: -163px 0 0 -237px;
}
.popup-form .title {
	font-size: 30px;
	font-weight: 700;
	color: #000;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 25px;
}
.popup-form .line {
	margin: 0 0 9px;
}
.popup-form input[type='text'], .popup-form select {
	width: 100%;
	height: 44px;
	padding: 0 16px;
	background-color: #e7e6de;
	font-size: 14px;
	font-weight: 500;
	border: 0;
	text-transform: uppercase;
}
.popup-form .line-t2 select, .popup-form .line-t2 .selectboxit-container .selectboxit {
	width: 232px!important;
}
.popup-form .line-t2 input[type='text'] {
	width: 233px;
	float: right;
}
.popup-form .line-send {
	text-align: center;
	margin: 35px 0 0;
}
.popup-form .line-send input {
	width: 220px;
	height: 78px;
	line-height: 78px;
	font-size: 22px;
}
.popup-form .close {
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	background: url(../img/icon-close-black.png) no-repeat;
	top: 10px;
	right: -52px;
}
.overflow-none { 
	overflow: hidden;
}
.sub-menu ul {
	display: table;	
	width: 100%;
}
.sub-menu ul li {
	display: table-cell;
}
.sub-menu ul li a {
	display: block;
	height: 134px;
	padding: 36px 20px 0;
	font-size: 15px;
	line-height: 22px;
	text-transform: uppercase;
	font-weight: 700;
	color: #000;
}
.sub-menu ul li a:hover {
	background-color: #57a9d7;
	color: #fff;
	text-decoration: none;
}
.cold-transport-page .about-text h3 {
	font-size: 16px;
	font-weight: 500;
	color: #000;
	line-height: 20px;
	margin: 0 0 10px;
}
.cold-transport-page .about-text p {
	max-width: 630px;
}
.transport-icon-1 { background-image: url(../img/transport-icon-1.png); }
.transport-icon-2 { background-image: url(../img/transport-icon-2.png); }
.inside-title-2 { 
	font-weight: 500; 
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
	margin-bottom: 45px;
}
.questionnaire_notific { 
	font-size: 15px;
	color: #ee1010;
	line-height: 22px;
}
.inside-form { 
	width: 474px;
	margin: 50px auto 0;
}
.inputBox {
	width: 100%;
	display: inline-block;
	padding: 14px 17px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	border: 0;
	background-color: #e7e6de;
	color: #000;
	max-width: 100%;
	resize: none;
}
textarea.inputBox {
	height: 132px;
	text-transform: none;
	font-weight: 400;
	line-height: 22px;
}
span.inputBox {
	text-align: right;
	width: 120px;
	height: 44px;
	line-height: 17px;
	vertical-align: top;
}
span.inputBox input {
	text-align: left;
	border: 0;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	color: #000;
	width: 72px;
	height: 44px;
	float: left;
	vertical-align: top;
	margin: -14px 0 0 -17px;
	padding-left: 17px;
	background: transparent;
}
.inside-form .line {
	margin: 0 0 9px;
}
.inside-form .title {
	font-size: 16px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	margin: 40px 0 15px;
}
.inside-form .line-2box, .inside-form .line-label {
	text-align: justify;
	height: 44px;
}
.inside-form .line-2box:after, .inside-form .line-label:after {
	content: '';
	display: inline-block;
	width: 100%;
}
.inside-form .line-2box > * {
	display: inline-block;
	width: 232px;
}
.inside-form .line-label label {
	display: inline-block;
	width: 225px;
	text-align: left;
	font-size: 14px;
	color: #000;
	text-transform: uppercase;
	padding: 3px 0;
	cursor: default;
}
.inside-form .line-label label.w2 {
	width: 330px;
}
.inside-form .line-label label span {
	display: block;
	text-transform: none;
	font-size: 15px;
	color: #8f8f8f;
}
.inside-form .line-label input.inputBox {
	width: 233px;
	vertical-align: top;
}
.inside-form .line-send {
	margin: 40px 0 0;
	text-align: center;
}
.inside-form .line-send input {
	width: 220px;
	height: 78px;
	line-height: 78px;
	outline:none;
}
.heaters-page-top .main-slider__item { min-height: 465px; }
.title-fix small {
	font-size: 13px;
	color: #fff;
	font-weight: 500;
	text-transform: uppercase;
	display: block;
	margin: 0 0 -5px;
}
.btn-down-white, .btn-down-black, .btn-list-white {
	display: inline-block!important;
	width: auto;
	text-decoration: none;
	height: 40px;
	line-height: 40px;
	padding: 0 17px;
	font-size: 16px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	background: rgba(255,255,255,0.5);
}
.btn-down-black {
	background: rgba(0,0,0,0.5);
	color: #fff;
}
.btn-down-white:hover, .btn-list-white:hover {
	background: #fff;
}
.btn-down-black:hover {
	background: #000;
}
.btn-down-white:before, .btn-down-black:before, .btn-list-white:before {
	content: '';
	display: inline-block;
	width: 14px;
	height: 15px;
	background: url(../img/icon-down-black.png) no-repeat;
	margin: 0 9px 0 0;
	position: relative;
	top: 2px;
}
.btn-down-black:before {
	background: url(../img/icon-down-white.png) no-repeat;
}
.btn-list-white:before {
	background: url(../img/icon-list-black.png) no-repeat;
	height: 12px;
	top: 0;
}
.btn-down-white:hover, .btn-down-black:hover, .btn-list-white:hover { text-decoration: none; }
.btn-down {
	position: absolute;
	right: 0;
	top: 60px;
	padding: 0 26px;
	width: 320px;
}
.btn-down a {
	width: 100%;
	margin: 0 0 10px;
}
.heaters-page-top .main-slider__slider-description {
	margin-right: 235px;
}
.heaters-page-top .main-slider__overlay {
	padding: 25px 0 25px;
	min-height: 1px;
}
.btn-blue {
	height: 42px;
	line-height: 42px;
	display: inline-block;
	text-decoration: none!important;
	color: #fff;
	text-transform: uppercase;
	background-color: #57a9d7;
	font-size: 17px;
	font-weight: 700;
	padding: 0 17px;
}
.btn-blue:hover {
	background-color: #3690bd;
}
.heaters-page-top .btn-blue {
	position: absolute;
	right: 26px;
	bottom: 0;
}
.table-characteristics {
	background-color: #57a9d7;
	padding: 0 0 33px;
}
.table-characteristics .title h3 {
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	float: left;
}
.table-characteristics .title:after {
	content: '';
	display: block;
	clear: both;
}
.table-characteristics .title {
	padding: 30px 26px;
}
.table-characteristics .title a {
	float: right;
}
.table-characteristics ul li {
	display: block;
	margin: 0;
	height: 60px;
	line-height: 60px;
	background-color: #dcedf7;	
	color: #000000;
	font-size: 15px;
}
.table-characteristics ul li:nth-child(2n) {
	background-color: #abd4eb;
}
.table-characteristics ul li span {
	display: table-cell;
}
.table-characteristics ul li span:first-child {
	width: 330px;
	font-weight: 700;
}
.contact-block {
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	line-height: 30px;
	padding: 60px 0;
}
.reviews-block {
	background-color: #e5f1f6;
	padding-bottom: 33px;
}
.reviews-block .title h3 {
	font-size: 36px;
	color: #000;
	font-weight: 700;
	text-transform: uppercase;
	float: left;
}
.reviews-block .title:after {
	content: '';
	display: block;
	clear: both;
}
.reviews-block .title a {
	float: right;
}
.reviews-block .title {
	padding: 32px 26px;
}
.reviews-block ul {
	display: table-cell;
}
.reviews-block ul li {
	display: table-cell;
	width: 33.33%;
	padding: 40px 25px 0;
	height: 310px;
	background-color: #b6d8e9;
	color: #000;
}
.reviews-block ul li:nth-child(2n) {
	background-color: #c6e0ee;
}
.reviews-block ul li .name-comp {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	margin: 0 0 15px;
}
.reviews-block ul li .text-comp {
	font-size: 14px;
	line-height: 20px;
}
.reviews-block ul li .logo-comp {
	height: 70px;
}
.table-characteristics .table-colum span {
	width: 14.28%;
	font-weight: 400;
}
.table-characteristics .table-colum span:first-child {
	font-weight: 400;
}
.table-characteristics .table-colum .table-head {
	height: 90px;
	line-height: normal;
} 
.table-characteristics .table-colum .table-head span {
	font-weight: 700;
	padding-top: 26px;
	font-size: 15px;
}
.about-terra-block {
	padding-bottom: 20px;
}
.about-terra-block .title {
	font-size: 16px;
	color: #000;
	font-weight: 700;
	margin: 35px 0 25px;
}
.about-terra-block ul li {
	float: left;
	width: 33.333%;
	text-align: center;
	vertical-align: top;
	height: 305px;
}
.about-terra-block ul li .image {
	height: 205px;
	display: table-cell;
	vertical-align: middle;
	width: 1000px;
	text-align: center;
}
.about-terra-block ul li .text {
	font-weight: 500;
	font-size: 15px;
}
/*-----*/
.transport-nav{
	width:100%;
	height:auto;
	display:flex;
}
.transport-nav_element{
	width:20%;
	float:left;
}
.transport-nav_element:nth-child(1){
	width:17%;
}
.transport-nav_element:nth-child(2){ 
	width:23%;
}
.transport-nav_element:nth-child(3){
	width:23%;
}
.transport-nav_element:nth-child(4){
	width:23%;
}
.transport-nav_element:nth-child(5){
	width:14%;
}
.transport-nav_element-link{
	font-size:15px;
	color:#000;
	font-weight:bold;
	font-style:normal;
	padding:38px 20px;
	display:block;
    line-height: 20px;
	cursor:pointer;
	text-transform:uppercase;
}
.transport-nav_element:hover{
	background:#57a9d7;
}
.transport-nav_element:hover .transport-nav_element-link{
	text-decoration:none;
	color:#fff;
}
.about-text_h3{
	font-size:16px;
	color:#000;
    line-height: 20px;
	font-weight:bold;
	font-style:normal;
	margin-bottom:10px;
}
.about-text .wrapper .about-text_p{
	font-size:14px;
	color:#000;
    line-height: 22px;
	font-weight:normal; 
	font-style:normal;
}
.inside-title span{
	font-size:13px;
	color:#5a5a5a;
	font-weight:500;
	font-style:normal;
	margin-left:3px;
	text-transform:uppercase;
}
.series-model{
	width:auto;
	overflow:hidden;
    margin-right: -14%;
}
.series-model-element{
	width:33.3%;
	height:330px;
	float:left;
}
.translators-element {
    width:33.3%;
    height:330px;
    float:left;
}
.series-model-wrap{
    overflow:hidden;
}
.translators-wrap{
    overflow: hidden;
}
.translators{
    width:auto;
    margin-right: -14%;
    overflow:hidden;
}
.translators .translators-element div{

}
.series-model-element div{

}
.series-model-element_img{
	width:230px;
	height:163px;
    position: relative;
    margin: 0 auto;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.series-model-element_text{
	width:230px;
	padding-top:20px;
	padding-left:7px;
}
.series-model-element_text h4{
	font-size:18px;
	color:#000;
	font-weight:bold;
	font-style:normal;
	margin-bottom:12px;
}
.model-element_text-list{
    width: 212px;
    padding: 5px 2px;
    float: left;
}
.model-element_text-list_head{ 
	border-bottom:1px solid #e0e0e0; 
}	
.model-element_text-list .text-list_left{
	font-size:14px;
	color:#666666;
	font-weight:normal;
	font-style:normal;
}
.model-element_text-list .text-list_right{
	float:right;
	width:70px;
}
.series-btn{
	width:850px;
	margin:0 auto;
	overflow:hidden;
	padding:60px 40px;
}
.series-btn .pick-up-refrigerator{
	width:313px;
	height:110px;
	float:left;
	text-align:center;
	background:#edcf85;
}
.series-btn .pick-up-refrigerator a{
	display:block;
	height:110px;
	cursor:pointer;
	font-size:20px;
	color:#39362e;
	font-weight:bold;
    padding-top: 28px;
    letter-spacing: 1.1px;
	font-style:normal;
	text-transform:uppercase;
}
.series-btn .pick-up-refrigerator:hover a{
	text-decoration:none;
}
.series-btn .find-a-dealer{
	width:313px;
	height:110px;
	text-align:center;
	float:right;
	background:#4b9ecc;
}
.series-btn .find-a-dealer a{
	display:block;
	height:110px;
	line-height:110px;
	cursor:pointer;
	font-size:20px;
	color:#fff;
	font-weight:bold;
	font-style:normal;
	text-transform:uppercase;
}
.series-btn .find-a-dealer:hover a{
	text-decoration:none;
}
.find-a-dealer-m{
	margin:0 auto;
	float:none!important;
}
.series-model-element_text .btn-price{
	display:block;
	cursor:pointer;
	padding:14px 14px;
	background:#21c097;
	margin-top:12px;
	text-align:center;
	font-size:16px;
	color:#b2f8cc;
	text-transform:uppercase;
	font-weight:500;
	font-style:normal;
}
.series-model-element_text .btn-price:hover{
	text-decoration:none;
	opacity:.8;
    color:#fff;
}
.contact-block-text{
	width:auto;
}
.contact-block-text h2{
	font-size:20px;
	color:#000;
	margin-bottom:13px;
    letter-spacing: 0.2px;
	text-transform:uppercase;
}
.contact-block-text p{
	font-size:14px;
	color:#000;
	font-weight:normal;
	font-style:normal;
	margin-bottom:10px;
    line-height: 22px;
    padding-right: 16%;
}
.contact-block-text span{
	font-size:14px;
	color:#000;
	font-weight:bold;
	font-style:normal;
	display:block;
	margin-bottom:13px;
}
.contact-block-info{
	padding-bottom:28px;
}
.contact-city{
	border-top:1px solid #c4c0c0;
	border-bottom:1px solid #c4c0c0;
    padding: 36px 0;
    margin-top: 20px;
}
.contact-city_wrap{
	overflow:hidden;
}
.contact-city_wrap .wrap-colum{
	width:20%;
	float:left;
	height:auto;
}
.wrap-colum ul li{
	list-style:none;
	width:160px;
}
.wrap-colum ul li a{
	font-size:15px;
	color:#000;
	font-weight:normal;
	font-style:normal;
    padding: 2.8px 5px;
	display:block;
	cursor:pointer;
}
.wrap-colum ul li a:hover{
	text-decoration:none;
	background:#57a9d7;
	color:#fff;
}
.news{
	  margin-top: 66px;
	  padding-top: 32px;
	  padding-bottom: 56px;

}
.news h1{
    font-size: 30px;
    color: #000;
    font-weight: bold;
    font-style: normal;
    letter-spacing: -0.1px;
    text-transform: uppercase;
    margin-bottom: 32px;
    line-height: 33px;
}
.new-title{
    font-size: 16px;
    color: #000;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    position: relative;
    display: block;
    margin-bottom: 9px;
}
.new-title:before{
	content:"";
	position:absolute;
    top: 2px;
	left: -15px;
	width:9px;
	height:14px;
	background:url(../img/icon-news.png) no-repeat;
}	
.news p{
    font-size: 14px;
    color: #000;
    margin-bottom: 22px;
    line-height: 24px;
    margin-left: 3px;
    padding-right: 24%;
}
.new-title_list{
    margin-bottom: 34px;
    padding-top: 5px;
    margin-left: 2px;
}
.new-title_list li{
	margin-bottom:8px;
}	
.new-title_list li span{
	color:#57a9d7;
	position:relative;
	left:-5px;
	font-weight:normal;
	font-style:normal;
}
.news_images{
    padding: 19px 7px;
	overflow:hidden;
    padding-right: 8%;
    margin-bottom: -50px;
}
.news_images img{
    width: 48%;
    float: left;
    padding-bottom: 4%;
}
.news_images img:nth-of-type(even){
	float:right;
}	
.additional-text{
	/*border-top:1px solid #c4c0c0;*/
}
.main-new{
	display:block;
}
.main-new .main-news__item{
	width:33.3%;
	display:block!important;
}
.year-list{
    overflow: hidden;
    position: relative;
    top: -18px;
    left: -5px;
    margin-bottom: 13px;
}
.year-list li{
	float:left;
	margin-right:21px;
}
.year-list li a{
	padding:6px 8px;
	display:block;
	font-size:15px;
	color:#000;
	font-weight:bold;
	font-style:normal;
}	
.year-list li a:hover{
	color:#fff;
	background:#57a9d7;
	text-decoration:none;
}
.production-video{
	position: relative;
}
.production-video iframe{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 0;
}
.production-video img{
	z-index: 1;
	position: relative;
	cursor: pointer; 
}
.dealers-page .dealers-map {
	margin-top: 67px;
}
.dealers-page .contact-city {
	border: 0;
	margin: 0;
	padding-top: 25px; 
}
.ymaps-balloon-overlay .ymaps-b-balloon__tl { display: none; }
.ymaps-balloon-overlay .ymaps-b-balloon__tr { display: none; }
.ymaps-balloon-overlay .ymaps-b-balloon__content {
	border: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.ymaps-balloon-overlay .ymaps-b-balloon__content:after {
	content: '';
	display: block;
	position: absolute;
	border-top: 15px solid #fff;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	bottom: -15px;
	left: 50%;
	margin-left: -8px;
}
.ymaps-balloon-overlay .ymaps-b-balloon__bl { display: none; }
.ymaps-balloon-overlay .ymaps-b-balloon__br { display: none; }
.ymaps-shadows-pane { display: none; }
.ymaps-balloon-overlay .ymaps-b-balloon__content-holster {
	padding: 15px 18px;
}
.ymaps-balloon-overlay .ymaps-b-balloon__close {
	width: 12px;
	height: 12px;
	background-image: url(../img/icon-close-black.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	top: 15px;
	right: 11px;
}
.baloon-innr h3 {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 16px;
}
.baloon-innr p {
	font-size: 14px;
	color: #000;
	line-height: 22px;
}
.baloon-innr a {
	display: inline-block;
	text-decoration: none!important;
	height: 38px;
	line-height: 38px;
	text-align: center;
	width: 269px;
	background-color: #57a9d7;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 12px;
}
.ymaps-copyrights-pane { display: none!important; }
.dealers-map-title {
	left: 0;
	position: absolute;
	font-size: 50px;
	color: #fff;
	font-weight: 500;
	text-transform: uppercase;
	z-index: 2;
	width: 100%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#00000000',GradientType=0 );
	padding: 50px 80px 25px;
}
.com-icon-1 { background-image: url(../img/com-icon-1.png); }
.com-icon-2 { background-image: url(../img/com-icon-2.png); }
.com-icon-3 { background-image: url(../img/com-icon-3.png); }

.filter_selection .title {
	text-align: center;
	font-size: 36px;
	text-transform: uppercase;
	color: #000;
	font-weight: 700;
	padding: 40px 0;
}
.filter_selection .group {
	padding: 0 80px;
}
.filter_selection .group .colum {
	float: left;
	padding: 0 0 0 15px;
}
.filter_selection .group .colum-1 {
	width: 400px;
}
.filter_selection .group .colum-2 {
	width: 350px;
}
.filter_selection .group-title {
	position: relative;
	font-size: 20px;
	font-weight: 500;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 22px;
}
.ieb:before {
	content: '';
	display: block;
	position: absolute;
}
.main-slider__overlay_f {
  	padding: 30px 0 30px;
  	min-height: 1px;	
}
.icon-f1:before {
	width: 46px;
	height: 24px;
	background: url(../img/icon-1.png) no-repeat;
	left: -55px;
	top: 2px;
}
.icon-f2:before {
	width: 31px;
	height: 31px;
	background: url(../img/icon-2.png) no-repeat;
	left: -40px;
	top: -4px;
}
.icon-f3:before {
	width: 37px;
	height: 22px;
	background: url(../img/icon-3.png) no-repeat;
	left: -50px;
	top: -1px;
}
.filter_selection .group-1 .grop-s>img {
	margin-bottom: 10px;
}
.filter_selection .group-1 .grop-s { 
	margin-bottom: 35px;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-button {
	font-size: 15px;
	color: #000;
	font-weight: 500;
	line-height: 26px;
	padding: 0 0 0 38px;
	display: inline-block;
	background: url(../img/radio.png) no-repeat;
}
.ui-button.ui-state-hover {
	background-position: 0 -50px;
}
.ui-button.ui-state-active {
	background-position: 0 -100px;
}
.ui-button.ui-state-active.ui-state-hover {
	background-position: 0 -150px;
}
.filter_selection .group-1 .radio-btn > div {
	margin-bottom: 4px;
}
.filter_selection .group-2 .colum-1 {
	width: 330px;
}
.filter_selection .group-2 .radio-btn > div {
	margin-bottom: 4px;
}
.filter_selection .group-2 {
	margin: 0 0 40px;
}
.filter_selection .group-3 .radio-btn > div {
	display: inline-block;
	margin-right: 26px;
}
.filter_selection .group-3 .radio-btn {
	padding: 0 15px;
}
.filter_selection .btn-filter {
	margin: 55px 20px 0;
	text-align: center;
	position: relative;
}
.filter_selection .btn-filter .btn-type-1 {
	width: 220px;
	height: 78px;
	line-height: 78px;
}
.filter_selection .btn-filter .btn-list-white {
	position: absolute;
	right: 0;
	font-size: 18px;
	margin: 20px 0 0;
}
.filter_selection .btn-filter .btn-list-white:hover {
	text-decoration: underline;
}
